<section class="clean-block clean-form dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">Acesse sua conta</h2>
    </div>
    <form>
      <div class="form-group"><label>Usuário</label><input class="form-control" type="text"></div>
      <div class="form-group"><label>Senha</label><input class="form-control" type="password"></div>
      <div class="form-group"><button class="btn btn-primary btn-block" type="button">Entrar</button></div>
    </form>
  </div>
</section>
