<footer class="page-footer dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>Principal</h5>
        <ul>
          <li><a href="#">Página inicial</a></li>
          <li><a href="#">Área restrita</a></li>
          <li><a href="#">Downloads</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Sobre nós</h5>
        <ul>
          <li><a href="#">Informações&nbsp;</a></li>
          <li></li>
          <li><a href="#">Casos ganhos</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Suporte</h5>
        <ul>
          <li><a href="#">Perguntas frequentes</a></li>
          <li></li>
          <li><a href="#">Fale conosco</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Legal</h5>
        <ul>
          <li><a href="#">Termos de uso</a></li>
          <li><a href="#">Politica de privacidade</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2019 Copyright</p>
  </div>
</footer>