<section class="my-5">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Edite suas informações</h2>
        </div>
        <p><small>Campos com * são obrigatórios</small></p>
        <form [formGroup]='editForm' novalidate>
            <div class="row">
                <div class="col-md-6">
                    <label for="">*Nome</label>
                    <input type="text" formControlName='firstName' class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="">*Sobrenome</label>
                    <input type="text" formControlName='lastName' class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="">*E-mail</label>
                    <input type="email" formControlName='email' class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="">*Senha</label>
                    <input type="password" disabled class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="">*CPF</label>
                    <input type="text" formControlName='cpf' class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="">Matrícula</label>
                    <input type="text" formControlName='registry' class="form-control">
                </div>
            </div>
            <hr>
            <div class="row">
                <label>*Foto atual:</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="importFile">
                    <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i> Escolha um arquivo</label>
                </div>
            </div>
            <hr>
            <label>Telefones:</label>
            <div class="row">
                <div class="col-md-2">
                    <label>*Principal:</label>
                    <input type="text" formControlName='mainPhone' class="form-control">
                </div>
                <div class="col-md-3">
                    <label>*Tipo:</label>
                    <mat-select class="form-control" formControlName='mainPhoneType'>
                        <mat-option value="residencial">
                                residencial
                            </mat-option>
                            <mat-option value="celular">
                                celular
                            </mat-option>
                    </mat-select>
                </div>
                <div class="col-md-2">
                    <label>Secundário:</label>
                    <input type="text" formControlName='secondaryPhone' class="form-control">
                </div>
                <div class="col-md-3">
                    <label>Tipo:</label>
                    <mat-select class="form-control" formControlName='secondaryPhoneType'>
                        <mat-option value="residencial">
                                residencial
                            </mat-option>
                            <mat-option value="celular">
                                celular
                            </mat-option>
                    </mat-select>
                </div>

            </div>
            <hr>
            <label>Endereços:</label>
            <br>
            <br>
            <label>*Principal</label>
            <div class="row">
                <div class="col-md-2">
                    <label>*CEP</label>
                    <input type="text" formControlName='mainCEP' class="form-control">
                    <p ><small>(apenas números)</small></p>
                </div>
                <div class="col-md-1">
                    <label style="color: white;">Buscar</label>
                    <button mat-raised-button color="primary">Buscar CEP</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>*Logradouro:</label>
                    <input type="text" formControlName='mainStreet' class="form-control">
                </div>
                <div class="col-md-2">
                    <label>*Número:</label>
                    <input type="text" formControlName='mainNumber' class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label>Complemento:</label>
                    <input type="text" formControlName='mainComplement' class="form-control">
                </div>
                <div class="col-md-6">
                    <label>*Bairro:</label>
                    <input type="text" formControlName='mainDistrict' class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>*Cidade:</label>
                    <input type="text" formControlName='mainCity' class="form-control">
                </div>
                <div class="col-md-1">
                    <label>*Estado:</label>
                    <input type="text" formControlName='mainState' class="form-control">
                </div>
            </div>
            <br>
            <br>
            <label>Secundário</label>
            <div class="row">
                <div class="col-md-2">
                    <label>CEP</label>
                    <input type="text" formControlName='secondaryCEP' class="form-control">
                    <p ><small>(apenas números)</small></p>
                </div>
                <div class="col-md-1">
                    <label style="color: white;">Buscar</label>
                    <button mat-raised-button color="primary">Buscar CEP</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Logradouro:</label>
                    <input type="text" formControlName='secondaryStreet' class="form-control">
                </div>
                <div class="col-md-2">
                    <label>Número:</label>
                    <input type="text" formControlName='secondaryNumber' class="form-control">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label>Complemento:</label>
                    <input type="text" formControlName='secondaryComplement' class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Bairro:</label>
                    <input type="text" formControlName='secondaryDistrict' class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Cidade:</label>
                    <input type="text" formControlName='secondaryCity' class="form-control">
                </div>
                <div class="col-md-1">
                    <label>Estado:</label>
                    <input type="text" formControlName='secondaryState' class="form-control">
                </div>
            </div>
            <hr>
            <label>*Gênero:</label>
            <div class="row">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="col-md-4" value="male">Masculino</mat-radio-button>
                    <mat-radio-button class="col-md-4" value="female">Feminino</mat-radio-button>
                    <mat-radio-button class="col-md-4" value="other">Outro</mat-radio-button>
                </mat-radio-group>
            </div>
            <br>
             <div class="row">
                 <div class="col-md-3">
                    <label>Estado civil:</label>
                        <mat-select class="form-control">
                            <mat-option value="single">Solteiro(a)</mat-option>
                            <mat-option value="married">Casado(a)</mat-option>
                            <mat-option value="divorced">Divorciado(a)</mat-option>
                            <mat-option value="widower">Viúvo(a)</mat-option>
                            <mat-option value="separeted">Separado(a)</mat-option>
                        </mat-select>
                 </div>
                 <div class="col-md-3">
                    <label>Escolaridade:</label>
                        <mat-select class="form-control">
                            <mat-option value="basic">Fundamental</mat-option>
                            <mat-option value="incomplete-high">Médio incompleto</mat-option>
                            <mat-option value="high">Médio completo</mat-option>
                            <mat-option value="incomplete-higher">Superior incompleto</mat-option>
                            <mat-option value="higher">Superior completo</mat-option>
                            <mat-option value="pos">Pós-graduação</mat-option>
                            <mat-option value="master">Mestrado</mat-option>
                            <mat-option value="doctor">Doutorado</mat-option>
                        </mat-select>
                 </div>
                 <div class="col-md-3">
                    <label>Profissão:</label>
                    <input type="text" formControlName='profession' class="form-control">   
                 </div>
             </div>
             <hr>
             <div class="row">
                <div class="col-md-6">
                    <label>Nome do pai:</label>
                    <input type="text" formControlName='fatherName' class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Nome da mãe:</label>
                    <input type="text" formControlName='motherName' class="form-control">
                </div>
             </div>
             <br>
             <div class="row">
                <div class="col-md-3">
                    <label>*Data de nascimento</label>
                    <input type="text" formControlName='birthdate' class="form-control">
                </div>
                <div class="col-md-3">
                    <label>*Naturalidade</label>
                    <input type="text" formControlName='placeOfBirth' class="form-control">
                </div>
                <div class="col-md-3">
                    <label>Nacionalidade</label>
                    <input type="text" formControlName='nationality' class="form-control">
                </div>
             </div>
             <br>
             <div class="row">
                <div class="col-md-2">
                    <label>*Nº de identidade:</label>
                    <input type="text" formControlName='identityNumber' class="form-control">
                </div>
                <div class="col-md-3">
                    <label>*Orgão emissor:</label>
                    <input type="text" formControlName='identityInstitution' class="form-control">
                </div>
            </div>
                <br>
                <div class="row">
                <div class="col-md-3">
                    <label>Carteira de Trabalho:</label>
                    <input type="text" formControlName='ctps' class="form-control">
                </div>
             </div>
             <br>
             <div class="row">
                <div class="col-md-2">
                    <label>OAB:</label>
                    <input type="text" formControlName='oab' class="form-control">
                </div>
                <div class="col-md-3">
                    <label>Identidade profissional :</label>
                    <input type="text" formControlName='professionalIdentity' class="form-control">
                </div>
            </div>


            



            
            

        </form>

        <!-- <button class='btn btn-primary' type='submit' (click)="logField()">log out</button> -->
    </div>
</section>


<!-- [(ngModel)]='firstName.value' -->