<section *ngIf='resetSent == false; else resetSentBlock' class="clean-block clean-form dark" >
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Recuperação de senha</h2>
      </div>
      <form [formGroup]='passwordRecoveryForm'>
        <label>Informe o e-mail cadastrado</label>
        <input type="email" formControlName='email' class="form-control" [class.is-invalid]="passwordRecoveryForm.get('email').touched && passwordRecoveryForm.get('email').invalid">
        <div *ngIf="passwordRecoveryForm.get('email').touched && !passwordRecoveryForm.get('email').valid">
            <p *ngIf="passwordRecoveryForm.get('email').errors.required"><small style="color:red;">*Campo obrigatório</small></p>
            <p *ngIf="passwordRecoveryForm.get('email').errors.email"><small style="color:red;">*E-mail inválido</small></p>
        </div>
        <br>
        <div class="form-group"><button [disabled]="!passwordRecoveryForm.valid" class="btn btn-primary btn-block" type="button" (click)='resetPassword()'>Enviar nova senha por e-mail</button></div>
      </form>
      
    </div>
  </section>



  <ng-template #resetSentBlock>
  <section class="clean-block clean-form dark" >
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Recuperação de senha</h2>
      </div>
        <h4 style="text-align: center">Link para recadastramento de senha enviado com sucesso</h4>
        <br>
        <small style="text-align: center"> Não esqueça de olhar as pastas de SPAM ou PROPAGANDA do seu provedor de e-mail. Por ser um envio automático, a recuperação de senha pode ir parar lá!</small>
        
        <br>
    </div>
  </section>
</ng-template>