<section class="clean-block features h-100">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">Institucional</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae
        leo.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5 feature-box">
        <a routerLink="/institutional-info" style="color:rgb(0,0,0);font-size:20px;">Lorem</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.
        </p>
        <a routerLink="/institutional-info"><img src="https://picsum.photos/510/340" class="img-fluid" style="max-height: 280px"></a>
      </div>
      <div class="col-md-5 feature-box"><a routerLink="/institutional-info"
          style="color:rgb(0,0,0);font-size:20px;">Lorem</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.</p><a routerLink="/institutional-info"><img src="https://picsum.photos/510/340" class="img-fluid" style="max-height: 280px"></a>
      </div>
      <div class="col-md-5 feature-box"><a routerLink="/institutional-info"
          style="color:rgb(0,0,0);font-size:20px;">Lorem</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.</p><a routerLink="/institutional-info"><img src="https://picsum.photos/510/340" class="img-fluid" style="max-height: 280px"></a>
      </div>
      <div class="col-md-5 feature-box"><a routerLink="/institutional-info"
          style="color:rgb(0,0,0);font-size:20px;">Lorem</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.</p><a routerLink="/institutional-info"><img src="https://picsum.photos/510/340" class="img-fluid" style="max-height: 280px"></a>
      </div>
    </div>
  </div>
</section>
