<div class="container" *ngIf="post$ | async as p">
	<div class="content-head">
			<h1 class="title">{{p.title}}</h1>
			<h2 class="subtitle">{{p.excerpt}}</h2>
			<p>
				<time class="datePublished">{{moment(p.updatedAt.toDate()).locale('pt').format('DD/MM/YYYY HH[h]mm')}} </time>
				<span>
						<time class="dateModified"> Atualizado {{moment(p.updatedAt.toDate()).locale('pt').fromNow()}}</time>
				</span>
			</p>
			<div class="divider"></div>
	</div>
	<img class="image" [src]="p.mainImageUrl">
	<div class="content-body">
			<div class="content-text" [innerHTML]="p.content"></div>
	</div>
</div>
<div class="more-news" *ngIf="last3Posts$ | async as last3Posts">
	<div class=feed>
		<div class="more-news-text">Mais do <strong>SINPRF-BA</strong></div>
		<div *ngFor="let post of last3Posts" class="feed-item-wrapper">
			<div class="feed-item">
				<div><img [src]="post.mainImageUrl" (click)="showDetails(post.uid)"></div>
				<div>
					<h5 class="feed-title" (click)="showDetails(post.uid)">{{post.title || 'Título'}}</h5>
					<p>{{post.excerpt || 'Subtítulo'}}</p>
					<time class="datePublished">{{moment(post.updatedAt.toDate()).locale('pt').fromNow()}}</time>
				</div>
			</div>
		</div>
	</div>
</div>