.content-head {
  margin-top: 2.5rem;
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
}

.title {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: -0.09375rem;
  font-weight: 700;
  color: #111;
}

.subtitle {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -.03125rem;
  color: #555;
}

.datePublished,
.dateModified {
  font-size: .75rem;
  line-height: 1rem;
  margin: 0;
  color: #555;
}

.dateModified::before {
  content: "\B7";
}

.divider {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0 1.5rem 2.5rem;
}

.image {
  width: 100%;
}

.content-body {
  margin-top: 2.5rem;
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
}

.content-text {
  font-size: 1.125rem;
  margin-bottom: 1.75rem;
  line-height: 1.75rem;
  letter-spacing: -.03125rem;
  overflow-wrap: break-word;
}

.more-news {
  background-color: #f3f3f3;
}

.feed {
  border-top-width: 2px;
  border-top-style: solid;
}

.more-news-text {
  font-size: 1.5rem;
  line-height: 28px;
  letter-spacing: -.5px;
  color: #333;
  padding-top: 24px;
  margin-bottom: 24px;
}

.feed-item-wrapper {
  margin-bottom: 32px;
}

.feed-item {
  display: flex;

  img {
    cursor: pointer;
    width: 170px;
    margin-right: 16px;
  }

  .feed-title {
    cursor: pointer;
  }
}

@media (min-width: 540px) {
  .feed-item-wrapper:after {
    background-color: #c8c8c8;
    content: "";
    display: block;
    height: 1px;
    margin-top: 32px;
  }
}

@media (min-width: 64rem) {
  .content-head {
    width: 55.5rem;
    padding: 0;
    margin-top: 64px;
  }

  .title {
    text-align: left;
    padding: 0;
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: -0.15625rem;
  }

  .subtitle {
    font-size: 1.25rem;
    padding-left: 0;
    line-height: 1.75rem;
    text-align: left;
  }

  .divider {
    margin: 0 auto;
    width: 55.5rem;
    margin-bottom: 4rem;
  }

  .content-body {
    width: 55.5rem;
    padding: 0;
    margin-top: 64px;
  }

  .content-text {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .feed {
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    border-top: 0;
  }

  .more-news-text {
    border-top: 2px solid #333;
  }
}
